* {
    margin: 0;
    padding: 0;
    text-align: center;
  }

body{
  background-image: url(pokerback.jpg);
  background-size: contain;
}

#retire {
  text-align: right;
}

section {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}

figure {
  margin: 2%;
}

.left{
  text-align: center;
  margin-left: 10px;
  background-color: white;
  width: 250px;
}

.foot{
  position: relative;
}

/* .com_card {} */

.player_card {
  height: 250px;

}

.two-button {
  text-align: center;
}


.button {
  text-align: center;
  width: 30%;
  padding: 10px;
  font-size: 30px;
}

.two-button {
  top: 0px;
  width: 100%;
  position: absolute;

}

#battle{
    margin: 10px;
}

#card_change{
    margin: 10px;
}

#hand00.active{
    margin-bottom: 20px;
}
#hand01.active{
    margin-bottom: 20px;
}
#hand02.active{
    margin-bottom: 20px;
}
#hand03.active{
    margin-bottom: 20px;
}
#hand04.active{
    margin-bottom: 20px;
}

.middle{
  position: relative;
}

#result.hidden{
  visibility:hidden;
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  color: black;/*文字色*/
  background: #FFF;
  border: solid 3px orange;/*線*/
  border-radius: 10px;/*角の丸み*/
  
  position: absolute;
  top: 31%;
  left: 35.5%;
}

#result.gemeset{
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  color: black;/*文字色*/
  background: #FFF;
  border: solid 3px orange;/*線*/
  border-radius: 10px;/*角の丸み*/
  
  position: absolute;
  top: 31%;
  left: 35.5%;
}
