* {
  margin: 0;
  padding: 0;
  text-align: center;
}

#retire {
  text-align: right;
}

section {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}

figure {
  margin: 2%;
}

.top {
  text-align: left;
}

/* .com_card {} */

.player_card {
  height: 250px;

}

.two-button {
  text-align: center;
}

.foot {
  text-align: left;
}

.button {
  text-align: center;
  width: 30%;
  padding: 10px;
  font-size: 30px;
}

.two-button {
  top: 0px;
  width: 100%;
}

#battle{
    margin: 10px;
}

#card_change{
    margin: 10px;
}

#hand00.active{
    margin-bottom: 30px;
}
#hand01.active{
    margin-bottom: 20px;
}
#hand02.active{
    margin-bottom: 20px;
}
#hand03.active{
    margin-bottom: 20px;
}
#hand04.active{
    margin-bottom: 20px;
}