#retire {
  text-align: right;
}

section {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}

figure {
  margin: 2%;
}

.top {}

.com_card {}

.player_card {
  height: 250px;

}

.two-button {
  text-align: center;
}

.foot {
  position: relative;
}

.button {
  text-align: center;
  width: 30%;
  padding: 10px;
  font-size: 30px;
}

.two-button {
  position: absolute;
  top: 0px;
  width: 100%;
}
