body{
   font-weight: bolder;
   background-image: url(pokerback.jpg);
   color: rgb(255, 136, 0);
   height: 100%;

 }
 
 .title{
    text-align: center;
 }
 
 .sub_title{
    text-align: center;
 }
 
 .box_1{
     float: left;
 
     width: 50%; /* 要素の幅を50%に定義 */
    
  }
   
  .box_2{
     float: left;
 
   width: 50%; /* 要素の幅を50%に定義 */
   
  }
   
  .box_3{
     float: left;
 
   width: 42%; /* 要素の幅を50%に定義 */
   
  }
 
  .box_4{
     float: left;
 
   width: 58%; /* 要素の幅を50%に定義 */
   
  }