<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />
    <!-- Bootstrap JS(compiled bundle) -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='game.css') }}"
    />
    <script defer src="{{ url_for('static', filename='game.js') }}"></script>
    <script defer src="{{ url_for('static', filename='index.js') }}"></script>
    <script defer src="{{ url_for('static', filename='change.js') }}"></script>
    <script
      defer
      src="{{ url_for('static', filename='card_submit.js') }}"
    ></script>

    <title>17poker</title>
  </head>
  <body>
    <a href="http://127.0.0.1:5000/">
      <div id="retire">
        <button type="button" class="btn btn-primary">リタイヤ</button>
      </div>
    </a>
    <h3 class="left">com</h3>
     <div class="middle">
      <div id="com_score"></div>
      <section class="com_card">
        <figure>
          <img
            src="{{ url_for('static', filename='card_back.png')}}"
            width="100px"
            class="com_card"
            name="{{ophand0}}"
          />
        </figure>
        <figure>
          <img
            src="{{ url_for('static', filename='card_back.png')}}"
            width="100px"
            class="com_card"
            name="{{ophand1}}"
          />
        </figure>
        <figure>
          <img
            src="{{ url_for('static', filename='card_back.png')}}"
            width="100px"
            class="com_card"
            name="{{ophand2}}"
          />
        </figure>
        <figure>
          <img
            src="{{ url_for('static', filename='card_back.png')}}"
            width="100px"
            class="com_card"
            name="{{ophand3}}"
          />
        </figure>
        <figure>
          <img
            src="{{ url_for('static', filename='card_back.png')}}"
            width="100px"
            class="com_card"
            name="{{ophand4}}"
          />
        </figure>
      </section>
      <div id="play_score"></div>
      <section class="player_card">
        <figure>
          <img
            src="{{url_for('static',filename=hand0)}}"
            width="100px"
            id="hand00"
            name="0"
            class=""
          />
        </figure>
        <figure>
          <img
            src="{{url_for('static',filename=hand1)}}"
            width="100px"
            id="hand01"
            name="1"
            class=""
          />
        </figure>
        <figure>
          <img
            src="{{url_for('static',filename=hand2)}}"
            width="100px"
            id="hand02"
            name="2"
            class=""
          />
        </figure>
        <figure>
          <img
            src="{{url_for('static',filename=hand3)}}"
            width="100px"
            id="hand03"
            name="3"
            class=""
          />
        </figure>
        <figure>
          <img
            src="{{url_for('static',filename=hand4)}}"
            width="100px"
            id="hand04"
            name="4"
            class=""
          />
        </figure>
      </section>
      <div id="result" class="hidden">
        <h3>winner {{pname}}さん</h3>
        <h3>スコア+ {{score}}点</h3>
      </div>
    </div>
    <div class="foot">
      <h3 class="left" id="result_name">{{pname}}さん</h3>
      <h3 class="left" id="result_score">スコア：{{score}}点</h3>
      <div class="two-button">
        <input
          id="battle"
          class="btn btn-primary btn-lg"
          type="button"
          role="button"
          value="勝負"
        />
        <input
          id="card_chenge"
          class="btn btn-primary btn-lg"
          type="button"
          role="button"
          value="カード交換"
        />
      </div>
    </div>
  </body>
</html>
