<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>17porker</title>
</head>
<body>
    <h1>17porker</h1>
    <table class="table" id="address-list">
        <thead>
            <tr>
                <h2>ランキング</h2>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Point</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th><th></th><th></th>
            </tr>
            <tr>
                <th>2</th><th></th><th></th>
            </tr>
            <tr>
                <th>3</th><th></th><th></th>
            </tr>
            <tr>
                <th>4</th><th></th><th></th>
            </tr>
            <tr>
                <th>5</th><th></th><th></th>
            </tr>
        </tbody>
    </table>
    <form action="/play" method="POST">
        <label for="your_name">名前: </label>
        <input type="text" id="your_name" name="name">
        <button type="submit">スタート</button>
    </form>
</body>
</html>